<img src="<%= @graph.get_picture(@friend['id'], :type => "large") %>" >
Connect to <%= @friend["name"] %>'s Chronicle?
<%= @friend['id'] %>
<form action="/connection" method="POST">
  <input type="hidden" name="fb_id" value="<%= @friend['id'] %>">
  <input type="submit">
</form>
