<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>

  <body>
  	<div class="row">
      <div class="col-xs-12">
    <%= yield %>
      </div>
	</div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>

</html>
