<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/application.css" />
    <link rel="stylesheet" href="/css/vjs_skin.css" />
    <link rel="stylesheet" href="http://vjs.zencdn.net/c/video-js.css"/>
  </head>

  <body>
  	<div class="row">
      <div class="col-xs-12">
    <%= yield %>
      </div>
	</div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
  </body>

</html>
