<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/application.css" />
    <link rel="stylesheet" href="/css/chase.css" />
    <link rel="stylesheet" href="/css/vjs_skin.css" />
    <link rel="stylesheet" href="//vjs.zencdn.net/4.2/video-js.css"/>

    <link rel="apple-touch-icon" href="images/icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="images/icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  </head>

  <body>
  	<div class="">
      <div class="">
    <%= yield %>
      </div>
	</div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//vjs.zencdn.net/c/video.js"></script>
  </body>

</html>
