<form action='/video' method='post' accept-charset="utf-8" enctype="multipart/form-data">
  <label for='content_name'>Name</label>
  <input type="text" name="content[name]" id="content_name" />
  <label for='content_file'>Video</label>
  <input type="file" name="content[file]" id="content_file" />
  <button type='submit'>Save</button>
</form>
