html, #centered{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	border: 0;
}
#centered{
	margin: auto;
	margin-top:50px;
	width: 50%;
	max-width: 192px;
}

.co_name {
	text-align: center;
	font-size: 24px;
}

.highlight {
	color: #FF6157;
}